body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    box-sizing: border-box;
  }

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  li {
    padding: 25px;
    align-self: flex-start;
}